<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class ="editUser">   
        <h3>Edit Profle :</h3>
        <img src="http://lorempixel.com/400/200/people/"</img>
        <h4>First Name :<%= user.firstName %></h4>
        <h4>Last Name  :<%= user.lastName %></h4>                		
        <h4>Email 	   :<%= user.email %></h4>

        <% if(current_user !== null){ %>
          <% if(typeof current_user !== undefined && current_user.email === user.email) { %>
            <form id="editUser" method="POST" action="/users/<%= current_user._id %>">

              <div class="top-row">
                <div class="field-wrap">
                  <label>
                    First Name
                  </label>
                  <input type="text" name="firstName" required autocomplete="off" />
                </div>
              </div>

              <div class="top-row">
                <div class="field-wrap">
                  <label>
                    Last Name
                  </label>
                  <input type="text" name="lastName" required autocomplete="off" />
                </div>
              </div>

              <button type="submit" class="btn btn-warning">Update Profile</button>
            </form>

            <form id ="destroyUser" method="POST" action="/users/<%= current_user._id %>/delete">
              <button type="submit" class="btn btn-danger"> Delete Profile</button>
            </form>
          <% } %>
        <% } %>
      </div> 
    </div>
  </div>
</div>
